#home
  .landing
    .home-wrap
      .home-inner
        .row
          .col-10.col-md-6.col-lg-4.home-img-wrap.ml-auto.mr-auto.mt-5.order-1.order-md-1
            img(src='../styles/assets/logos/logo.png')
            .home-img-wrap-caption.p-2.mt-3.text-center
              span.caption St.Augustine 
              i(class=divider display="inline")
              span.caption Palm Coast 
              i(class=divider display="inline")
              span.caption Ponte Vedra
              i(class=divider display="inline")
              span.caption Jacksonville 
              i(class=divider display="inline")
              span.caption Platka 
              i(class=divider display="inline")
              span.caption Green Cove Springs 
              i(class=divider display="inline")
              span.caption Orange Park
            .row.mt-5.mb-5.home-logo-wrap.justify-content-center
              .col-4
                img(src='../styles/assets/badges/interNACHI.png')
              .col-4
                img(src='../styles/assets/badges/wind.png')
              .col-4
                img(src='../styles/assets/badges/4points.png')
              .col-4
                img(src='../styles/assets/badges/pool.png')
              .col-4
                img(src='../styles/assets/badges/buyback.png')
          //- Text Col
          .col-10.col-md-6.col-lg-4.home-text-wrap.ml-auto.mr-auto.mt-md-5.mb-md-5.pt-md-5.order-2.order-md-2
            h3.main-title.d-inline Committed to Quality
            i(class=divider display="inline")
            h3.main-title.d-inline Committed to You
            p.sub-text.mt-4.mt-md-5 At Lyon Home Inspections our commitment to quality begins with a through, systematic and objective home inspection process that ensures an accurate snapshot of the home's visible and accessible condition. We provide an easy-to-read, custom report compiling our findings with detailed descriptions, high resolution photos, and any discovered issues so you can make an informed decision. We also encourage you to attend the inspection so we can discuss the process, point out important maintenance items, explain the findings, and answer all of your questions.
            p.sub-text As a Florida Licensed and Certified Professional Home Inspection company our services include: Buyers Inspections, Pre Sales Inspections, Rental Property Inspections, Wind Mitigation Inspections, 4 –Points Inspections, and Mold Testing. 
            p.sub-text Lyon Home Inspections is also a Florida certified Energy Rater providing blower-door air infiltration testing with thermal imaging for both new and existing homes.
#services.offset.pt-5.pb-5
  .row.justify-content-center
    h3.sub-title Services
  .row.justify-content-center
    .col-10.col-md-8.col-lg-3.card.ml-3.mr-3.text-center
      i.ml-auto.mr-auto(class=house_icon data-fa-transform='shrink-4.5')
      h3 Home Inspection
      .row.justify-content-center
        .col-10
          p.sub-text Buying a home is one of life’s most important investments. That’s why a professional home inspection is crucial to understand the risks, dangers, and defects before buying a property. We provide InterNACHI certified expertise, delivering comprehensive inspection reports that provide the knowledge to empower an informed decision.
          button.btn-secondary Price Line $375
          button.btn-secondary Price Line $475
    .col-10.col-md-8.col-lg-3.card.ml-3.mr-3.text-center
      i.ml-auto.mr-auto(class=paperplane_icon data-fa-transform='shrink-4.5')
      h3 Wind Mitigation Inspection
      .row.justify-content-center
        .col-10
          p.sub-text We’ll examine a home’s existing ability to withstand a windstorm and provide recommendations for improvements in wind-resistance. Our detailed wind-mitigation reports can help lower your homeowner’s insurance and prioritize your next steps in home improvement.
          button.btn-secondary Price Line $375
          button.btn-secondary Price Line $475
    .col-10.col-md-8.col-lg-3.card.ml-3.mr-3.text-center
      i.ml-auto.mr-auto(class=page_icon data-fa-transform='shrink-4.5')
      h3 4-Points Inspection
      .row.justify-content-center
        .col-10
          p.sub-text Four point inspections provide a snapshot of a property’s condition by focusing on the home’s main components. Less rigorous than a full home inspection, the Four point service is an easy way to get a qualified inspection that meets the requirements of most insurance companies in North Florida.
          button.btn-secondary Price Line $375
          button.btn-secondary Price Line $475
#certifications.offset
  .fixed-background
    .row.justify-content-center
      h3.sub-title.text-center What We Inspect
      .col-10
        .row.justify-content-center
          .col-12.col-lg-4
            a.btn(data-toggle='collapse' href='#multiCollapseExample1' role='button' aria-expanded='false' aria-controls='multiCollapseExample1') Exterior
            .row
              .col.ml-3.ml-lg-0
                #multiCollapseExample1.collapse.multi-collapse
                  .card.card-body
                    ul
                      li Walls - Siding - Trim
                      li Driveways -  Walkways
                      li Steps - Stairs - Stoop
                      li Grading - Drainage
                      li Landscaping - Overgrowth
                      li Exterior Doors - Windows
                      li Eaves - Vents - Softlets
                      li Masonry Components
                      li Portch - Patio - Deck
                      li Safety Rails
                      li Main Water Shutoff - Shut off
                      li Hose Bibs
          .col-12.col-lg-4
            a.btn(data-toggle='collapse' href='#multiCollapseExample2' role='button' aria-expanded='false' aria-controls='multiCollapseExample2') Roof
            .row
              .col
                #multiCollapseExample2.collapse.multi-collapse
                  .card.card-body
                    ul
                      li Roof Covering
                      li Gutters - Downspouts
                      li Roof Flashing
                      li Roof Vents
                      li Plumbing Vent Stacks
                      li Skylight
                      li Chimney
          .col-12.col-lg-4
            a.btn(data-toggle='collapse' href='#multiCollapseExample3' role='button' aria-expanded='false' aria-controls='multiCollapseExample3') Garage
            .row
              .col
                #multiCollapseExample3.collapse.multi-collapse
                  .card.card-body
                    ul
                      li.caption-dark Garage Door - Safety Reverse
                      li.caption-dark Walls and Ceilings
                      li.caption-dark Floor, Slab
                      li.caption-dark Fire Separation
        .row.justify-content-center
          .col-12.col-lg-4
            a.btn(data-toggle='collapse' href='#multiCollapseExample4' role='button' aria-expanded='false' aria-controls='multiCollapseExample4') Interior
            .row
              .col.mr-3
                #multiCollapseExample4.collapse.multi-collapse
                  .card.card-body
                    ul
                      li.caption-dark Wall - Ceilings
                      li.caption-dark Floors - Trim
                      li.caption-dark Doors
                      li.caption-dark Windows - Locks
                      li.caption-dark Attic Insulation and Ventilation
                      li.caption-dark Steps and Stairways
                      li.caption-dark Balconies and Railings
                      li.caption-dark Tempered/Safety Glass
                      li.caption-dark Smoke and CO Detectors
                      li.caption-dark Skylights
                      li.caption-dark Counters - Cabinets - Shelves
                      li.caption-dark Attic Hatch and Stairs
                      li.caption-dark Fireplaces
          .col-12.col-lg-4
            a.btn(data-toggle='collapse' href='#multiCollapseExample5' role='button' aria-expanded='false' aria-controls='multiCollapseExample5') Structure
            .row
              .col.ml-3
                #multiCollapseExample5.collapse.multi-collapse
                  .card.card-body
                    ul
                      li.caption-dark Foundation
                      li.caption-dark Floors, Slab
                      li.caption-dark Crawlspace
                      li.caption-dark Framing
                      li.caption-dark Masonry Walls
                      li.caption-dark Masonry Veneer
                      li.caption-dark Columns, Piers, or Posts
                      li.caption-dark Structural Steel
                      li.caption-dark Chimney
          .col-12.col-lg-4
            a.btn(data-toggle='collapse' href='#multiCollapseExample6' role='button' aria-expanded='false' aria-controls='multiCollapseExample6') Kitchen
            .row
              .col
                #multiCollapseExample6.collapse.multi-collapse
                  .card.card-body
                    ul
                      li.caption-dark Cook Top
                      li.caption-dark Range - Hood Exhaust
                      li.caption-dark Refrigerator
                      li.caption-dark Dishwasher
                      li.caption-dark Disposer
                      li.caption-dark Microwave
                      li.caption-dark Sink
                      li.caption-dark Countertops
                      li.caption-dark Cabinets
                      li.caption-dark Drawers/Doors
        .row.justify-content-center
          .col-12.col-lg-4
            a.btn(data-toggle='collapse' href='#multiCollapseExample7' role='button' aria-expanded='false' aria-controls='multiCollapseExample7') Electrical
            .row
              .col
                #multiCollapseExample7.collapse.multi-collapse
                  .card.card-body
                    ul
                      li.caption-dark Electric Panels
                      li.caption-dark Circuit Breakers
                      li.caption-dark GFCI Protection
                      li.caption-dark Service Entry Cable
                      li.caption-dark Drop Cable
                      li.caption-dark Meter/Meter Base
                      li.caption-dark Grounding
                      li.caption-dark Receptacles
                      li.caption-dark Electric Panels
                      li.caption-dark Switches/Dimmers
                      li.caption-dark Light Fixtures
                      li.caption-dark Ceiling Fans
                      li.caption-dark Bathroom Fans
                      li.caption-dark Door Bell
          .col-12.col-lg-4
            a.btn(data-toggle='collapse' href='#multiCollapseExample8' role='button' aria-expanded='false' aria-controls='multiCollapseExample8') HVAC
            .row
              .col.mr-3
                #multiCollapseExample8.collapse.multi-collapse
                  .card.card-body
                    ul
                      li.caption-dark Heat Pump
                      li.caption-dark Condensing Unit
                      li.caption-dark Refrigerant Lines
                      li.caption-dark Air Handler
                      li.caption-dark Evaporator Coil
                      li.caption-dark Safety Controls
                      li.caption-dark Condensate Pan an  Drain
                      li.caption-dark Filter - Registers - Return
                      li.caption-dark Ductwork - Plenum
          .col-12.col-lg-4
            a.btn(data-toggle='collapse' href='#multiCollapseExample9' role='button' aria-expanded='false' aria-controls='multiCollapseExample9') Plumbing
            .row
              .col.mr-3
                #multiCollapseExample9.collapse.multi-collapse
                  .card.card-body
                    ul
                      li.caption-dark Water Heater
                      li.caption-dark Toilets - Faucets - Tubs
                      li.caption-dark Shower - Surround and Pan
                      li.caption-dark Pipes and Fittings
                      li.caption-dark Drain - Waste - Vent
                      li.caption-dark Faucets and Fixtures
                      li.caption-dark Whirlpool Tub
                      li.caption-dark Washer Machine
                      li.caption-dark Dryer
                      li.caption-dark Bath Vents
                      li.caption-dark Water Pressure
                      li.caption-dark Gas Meter - Gas Pipe
    //- .fixed-wrap
    //-   .fixed
// Start Pricing Section
#pricing.offset.pt-5.pb-5
  .row.justify-content-center
    h3.sub-title Why Choose Us
  .row.justify-content-center
    .col-10.col-md-8.col-lg-3.card.ml-3.mr-3.text-center
      img(src="../styles/assets/img/house1.jpg", alt="")
      h3 Accuracy
      .row.justify-content-center
        .col-10
          i(class=plus_icon data-fa-transform='shrink-4.5 up-4.5')
          p.sub-text Buying a home is one of life’s most important investments. That’s why a professional home inspection is crucial to understand the risks, dangers, and defects before buying a property. We provide InterNACHI certified expertise, delivering comprehensive inspection reports that provide the knowledge to empower an informed decision.  
    .col-10.col-md-8.col-lg-3.card.ml-3.mr-3.text-center
      img(src="../styles/assets/img/house.jpg", alt="")
      h3 Affordability
      .row.justify-content-center
        .col-10
          i(class=money_icon data-fa-transform='shrink-4.5 up-4.5')
          p.sub-text Text Alex Lyon Provides The Best Sample Text Alex Lyon Provides The Best Sample Text Alex Lyon Provides The Best Sample Text Alex Lyon Provides The Best
    .col-10.col-md-8.col-lg-3.card.ml-3.mr-3.text-center
      img(src="../styles/assets/img/house1.jpg", alt="")
      h3 Accessibility
      .row.justify-content-center
        .col-10
          i(class=user_icon data-fa-transform='shrink-4.5 up-4.5')
          p.sub-text Integrity and expertise are at the core of our inspection services. In working with us you’ll partner with experts committed to the highest level of professionalism. We encourage your company on inspections and invite any questions during the process. 

// Start Clients Section
//- #reviews.offset
  // jumbotron
  .jumbotron
    .col-12.text-center
      h3.sub-title Customers First, Always
      .heading-underline
    .row
      .col-md-6.review-container
        .row
          // img
          .col-md-4
            img(src='../styles/assets/img/client1.png')
          // caption
          .col-md-8
            blockquote.sub-text.p-4
              i(class=quote_icon)
              | Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA.
              hr.hr-main
              cite &mdash; Lisa Redfern, Home buyer
      .col-md-6.review-container
        .row
          // img
          .col-md-4
            img(src='../styles/assets/img/client1.png')
          // caption
          .col-md-8
            blockquote.sub-text.p-4
              i(class=quote_icon)
              | Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA.
              hr.hr-main
              cite &mdash; Lisa Redfern, Home buyer
// End Clients Section
