.portfolio-section.pb-5.align-items-center#services
  h3.sub-title.ml-3.ml-md-5.pt-5 SERVICES
  .row.m-3.ml-md-5.p-1
    .col-10.col-md-6.col-lg-4.p-0.m-auto.text-center.text-md-left
      img.ml-4(src="../styles/assets/img/arrow.png", alt="")
      h4.sub-heading.p-2 For Buyers
      ul.fa-ul.mb-0.text-left
        li
          i.fa-li(class=plus_icon)
          span.post-author-name Helping You Out Helping You Helping You  
        li
          i.fa-li(class=review_star_icon)
          span.post-author-name Familiar With the Inventory Familiar
        li
          i.fa-li(class=money_icon)
          span.post-author-name Getting the Right Deal Done Getting
    .col-10.col-md-6.col-lg-4.p-0.mt-3.mt-md-0.m-auto.text-center.text-md-left
      img.ml-4.mt-4.mt-md-0(src="../styles/assets/img/arrow.png", alt="")
      h4.sub-heading.p-2.mt-md-0 For Sellers
      ul.fa-ul.mb-0.text-left
        li
          i.fa-li(class=plus_icon)
          span.post-author-name Helping You Out Helping You Helping You
        li
          i.fa-li(class=review_star_icon)
          span.post-author-name Familiar With the Inventory
        li
          i.fa-li(class=money_icon)
          span.post-author-name Getting the Right Deal Done