#clientCarousel.carousel.slide(data-ride="carousel")
  .carousel-inner.mt-4
  .carousel-item.active
    .card.client-card
      .client-card-body.card
        h5.review-text.p-3
          a "Test it Out Test it Out It Be Like That When You're Working With the Very Best Test it Out Test it Out It Be Like That When You're Working With the Very Best"
      .client-card-footer
        .post-meta
          a(href="#")
            i(class=review_star_icon)
            i(class=review_star_icon)
            i(class=review_star_icon)
            i(class=review_star_icon)
            i(class=review_star_icon)
        a.post-author(href="#")
          .post-author-name Mitch Redfern
  .carousel-item
    .card.client-card
      .client-card-body.card
        h5.review-text.p-3
          a "Test it Out Test it Out It Be Like That When You're Working With the Very Best Test it Out Test it Out It Be Like That When You're Working With the Very Best"
      .client-card-footer
        .post-meta
          a(href="#")
            i(class=review_star_icon)
            i(class=review_star_icon)
            i(class=review_star_icon)
            i(class=review_star_icon)
            i(class=review_star_icon)
        a.post-author(href="#")
          .post-author-name Mitch Redfern